#main-options-content {
    height: 100vh;
    background: url('https://i.pinimg.com/originals/60/49/bb/6049bb988265bbaa195e46b42a298819.jpg') no-repeat center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-options-selectors {
    height: 25vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    animation: push 2s 1;
    animation-fill-mode: forwards;
    justify-content: space-between;
}

@keyframes push {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(35vh);
    }
}


