<div id="main-options-content">
    <!-- TODO  statistics/logo-->
    <div id="main-options-selectors">
        <div class="select add-res" routerLink="/add-resource">
            ADD A RESOURCE
        </div>
        <div class="select view-res" (click)="scrollToTables()">
            VIEW RESOURCES
        </div>
        <div class="select register" routerLink="/register">
            REGISTER
        </div>
        <div class="select login" routerLink="/login">
            LOGIN
        </div>
    </div>
</div>
