#main-options-content {
    height: 100vh;
    background: url('https://i.pinimg.com/originals/60/49/bb/6049bb988265bbaa195e46b42a298819.jpg') no-repeat center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-options-selectors {
    width: 80vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    animation: push 2s 1;
    animation-fill-mode: forwards;
    justify-content: space-between;
}

@keyframes push {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(35vh);
    }
}


.select {
    color: white;
    background-color:rgba(0,0,0,.85);
    border-style: solid;
    border: solid white;
    border-width: .5vh .5vh;
    padding:8vw;
    width: 15vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-weight:bold;
    font-size: 2vh;
}
.select:hover {
    cursor: pointer;
}

