.add-resource-form {
    height:100vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

agm-map {
    width: 35vw;
    height: 35vh;
}

form {
    background-color: rgba(255,255,255,.75);
    padding: 2em;
    width: 75vw;
    input[type="checkbox"] {
        align-self: flex-start;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: none;

        #addServiceForm {
            width: 80%;
        }
    }
    button {
        margin-top: 1vh;
        margin-right: 1vw;
    }
}

#add-resourse-form-content {
    background: url('https://pics.freeartbackgrounds.com/fullhd/Beautiful_Orange_Sea_Sunrise_Background-445.jpg') no-repeat center;
    background-size: 100% 100%;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .resource-form-content {
        width:100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#add-resource-form-map {
    padding: 1vw;
    background-color: rgba(255,255,255,.75);
}