<div id="tables">
       <nav id="table-selector">
          <div class="select wow fadeInRight shelter" data-wow-duration="2s" routerLink="/table/shelter">
            <p>SHELTER</p>
          </div>
          <div class="select wow fadeInLeft consumables" data-wow-duration="2s" routerLink="/table/consumables">
            <p>CONSUMABLES (food/toileteries etc)</p>
          </div>
          <div class="select wow fadeInRight health" data-wow-duration="2s" routerLink="/table/health">
            <p>HEALTHCARE</p>
          </div>
       </nav>
</div>

