#tables {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


p {
    padding: 1vh 1vh;
    background: rgba(0,0,0,.75);
}

.select {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.consumables {
    background-image: url("src/assets/images/main-tables-consumables-bg.jpg");
}

.shelter {
    background-image: url("src/assets/images/main-tables-shelter-bg.png");
}

.health {
    background-image: url("src/assets/images/main-tables-health-bg.png");
}
