#tables {
    background: url('http://images6.fanpop.com/image/photos/41900000/sunrise-over-usa-the-united-states-from-space-clip-contains-earth-usa-us-sunrise-space-night-light-c-commodore-64-41938037-4096-2304.png') center repeat;
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


p {
    padding: 1vh 1vh;
    background: rgba(0,0,0,.75);
}

.select {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.consumables {
    background-image: url("src/assets/images/main-tables-consumables-bg.jpg");
}

.shelter {
    background-image: url("src/assets/images/main-tables-shelter-bg.png");
}

.health {
    background-image: url("src/assets/images/main-tables-health-bg.jpg");
}
