<div id="tables">
    <h3 class="table-headers">HEALTH RESOURCES</h3>
    <table class="table table-hover table-dark">
        
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of healthResources">
            <th scope="row">{{el.id}}</th>
            <td>{{el.name}}</td>
            <td>{{el.gpsn}}</td>
            <td>{{el.gpsw}}</td>
            <td>{{el.testPrice}}</td>
          </tr>
        </tbody>
    </table> 
    
    <h3 class="table-headers">CONSUMABLE RESOURCES</h3>
    <table class="table table-hover table-dark">
      <thead  >
        <tr>
          <th *ngFor="let head of consumableHeadElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of consumableResources">
          <th scope="row">{{el.id}}</th>
          <td>{{el.name}}</td>
          <td>{{el.description}}</td>
          <td>{{el.quantity}}</td>
          <td>{{el.gpsn}}</td>
          <td>{{el.gpsw}}</td>
        </tr>
      </tbody>
  </table>
  <h3 class="table-headers">SHELTER RESOURCES</h3>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th *ngFor="let head of shelterHeadElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of shelterResources">
        <th scope="row">{{el.id}}</th>
        <td>{{el.name}}</td>
        <td>{{el.vacancy}}</td>
        <td>{{el.rating}}</td>
        <td>{{el.gpsn}}</td>
        <td>{{el.gpsw}}</td>
      </tr>
    </tbody>
</table>    
</div>

