#add-resource-options-content {
    height: 100vh;
    background: url('https://vignette.wikia.nocookie.net/heroism/images/d/da/Friends-holding-hands-images-HOLDING-HANDS.jpg/revision/latest?cb=20160622123306') no-repeat center;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#add-resource-options-selectors {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select {
    color: white;
    background-color:rgba(0,0,0,.85);
    border-style: solid;
    border: solid white;
    border-width: .5vh .5vh;
    padding:8vw;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size:2vh;
}
.select:hover {
    cursor: pointer;
}

