<div id="nav-bar">
    <div id="nav-content">
        <h2 routerLink="/main">CO-OP19</h2>
        <nav id="nav-buttons">
            <button routerLink="/main">
                Home
            </button>
            <button routerLink="/add-resource">
                Add Resources
            </button>
            <button routerLink="/register">
                Register
            </button>
            <button id="logInBtn" routerLink="/login" class="button primary-button">
                Login
            </button>
           
        </nav>
    </div>

</div>